---
layout: default
---

<main class="landing--container js--full-height">
	<section role="heading" class="landing--container--section section--landing-header">
		<div class="section--landing-header--title-space">
			<h1>Michael Corlett</h1>
			<h4>Digital Designer & one rad guy</h4>
			<a href="{{ site.twitter | prepend: 'https://twitter.com/' }}"><i class="fa fa-dribbble"></i></a>
			<a href="{{ site.twitter | prepend: 'https://dribbble.com/' }}"><i class="fa fa-twitter"></i></a>
		</div>
	</section>

	<section class="landing--container--section section--blog-roll js--full-height" role="main">
		<div class="section--blog-roll--post">
			<img class="img--logo--center" src="img/img--logo--bow-tie.svg" alt="Bow-tie Mark">
		</div>
		{% for post in paginator.posts %}
		<article class="section--blog-roll--post">
			<div class="blog-roll--post--date">{{ post.date | date: "%A %-d %B, %Y" }}</div>
			<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
			<p>
				{{ post.excerpt | strip_html }}<a href="{{ post.url }}">[...]</a>
			</p>
		</article>
		{% endfor %}
		{% capture post_size  %}{{ site.posts | size | minus:3 }}{% endcapture %}
		{% unless post_size contains '-' %}
		
		{% else %}
			{% if post_size contains '-3' %}
			<div class="section--blog-roll--post">
			<h2>Hello & welcome</h2>
				<p>
					Hello and welcome to my Blog, as you can clearly see, you have court me at a rather aquide time. It appears that I currently have no articles publiched yet! but don't worry, there should be one going up sometime today to fill this void.
				</p>
				<p>
					In the meantime, while you wait, feel free to check me out on <a href="{{ site.twitter | prepend: 'https://twitter.com/' }}">Twitter</a> or <a href="{{ site.twitter | prepend: 'https://dribbble.com/' }}">Dribbble</a>. Thank you for visiting and I look forward to your feed back on the up and coming articles I post here.
				</p>
			</div>
			{% else %}
			<div class="section--blog-roll--post blog-roll--post--divide"> 
				More articles are on there way so don't panic! In the mean time feel free to check me out on twitter 
				<a href="https://twitter.com/macorlett/">@macorlett</a>
			</div>
			{% endif %}
		{% endunless%}
	</section>
</main>