<!DOCTYPE html>
<html>
	<head>
		<title>{{ site.name }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ site.description }}">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="/css/styles.css" rel="stylesheet">
		{% if page.print == true %}<link href="/css/print.css" rel="stylesheet">{% endif %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>

	<body>

		<nav id="resume-nav" class="flex-content">
			<div class="block-nav">
			
			<ul>
				{% for link in site.pages %}
				{% if link.nav-link == true %}
				{% if link.nav-home == true %}
				{% if link.url == page.url %}
				<li class="current-page">
				{% else %}
				<li>
				{% endif %}
					<a href="{{ link.url }}">Home</a>
				</li>
				{% else %}
				{% if link.url == page.url %}
				<li class="current-page">
				{% else %}
				<li>
				{% endif %}
					<a href="{{ link.url }}">{{ link.title }}</a>
				</li>
				{% endif %}
				{% endif %}
				{% endfor %}
			</ul>

			</div>
		</nav>

		<header id="{{ page.page_id }}" class="content-block black center flex-content">

			<div class="block-item">

			<h1>{{ page.title }}</h1>

			<h4>
				{{ page.description }}
			</h4>

			</div>

		</header>