<!DOCTYPE html>
<html>
	<head>
		<title>{{ site.name }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ site.description }}">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>

	<body>

		<nav id="resume-header">
			


		</nav>

		<header id="resume-header" class="content-block black">

			<h1>{{ page.title }}</h1>

			<h4>
				{{ page.description }}
			</h4>

		</header>