<!DOCTYPE html>
<html>
	<head>
		<title>{{ site.name }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ site.description }}">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>

	<body>

		<nav id="home-nav" class=" blue flex-content center">
			<div class="block-nav">
			
			<ul>
				<li><a data-scroll-nav="0">About</a></li>
				<li><a data-scroll-nav="1">Skills</a></li>
				<li><a data-scroll-nav="2">Case studies</a></li>
				<li><a data-scroll-nav="3">Contact</a></li>
			</ul>

			</div>
		</nav>

		<header id="home-header" class="content-block blue center full-height">
			<div id="header-content">
				<h2>{{ page.title }}</h1>
				<h4>{{ page.description }}</h4>
				<img class="bowtie" src="/images/wooden-bowtie.svg" alt="My wooden bowtie!">
			</div>
		</header>
