<nav class="navigation--primary">
	<ul>
		<li><a href="{{ site.baseurl | append: '/' }}">Work</a></li>
		<li><a href="{{ site.baseurl | append: '/' }}">About</a></li>
		<li><a href="{{ site.baseurl | append: '/' }}">Blog</a></li>
		<li><a href="{{ site.baseurl | append: '/' }}">Contact</a></li>
	</ul>
</nav>

<div class="navigation--overlay--nav"><span></span></div>
<div class="navigation--overlay--content"><span></span></div>

<button class="navigation--menu--trigger"></button>
<div class="navigation--mobile--helper"><span>(no hamburgers here)</span> Menu <i class="fa fa-arrow-right"></i></div>