<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>

  <body>

    <input id="navigation--toggle" type="checkbox">
    <label class="navigation--open" for="navigation--toggle"></label>
    <nav class="navigation--draw">
      <label class="navigation--close" for="navigation--toggle"></label>
      <ul>
        <li data-scroll-nav="0"><label for="navigation--toggle">About me</label></li>
        <li data-scroll-nav="1"><label for="navigation--toggle">What I do</label></li>
        <li data-scroll-nav="2"><label for="navigation--toggle">Case studies</label></li>
        <li data-scroll-nav="3"><label for="navigation--toggle">Contact me</label></li>
      </ul>
    </nav>

    <header id="home-header" class="content-block blue center full-height">
      <div id="header-content">
        <h2>{{ page.title }}</h1>
        <h4>{{ page.description }}</h4>
        <img class="bowtie" src="/images/bowtie-v2.svg" alt="My wooden bowtie!" width="226" height="95">
      </div>
    </header>