.article--wrapper{
	position: relative;
	display: block;
	width: 100%;
	max-width: 900px;
	padding: 0 40px;
	margin: 0 auto;
}
.article--content,
.article--footer{
	display: block;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	font-family: 'Libre Baskerville', Times, serif;
	p{
		font-size: 18px;
		line-height: 28px;
	}
	blockquote{
		margin: 24px 0;
		padding: 0 0 0 35px; 
		border-left: 5px solid $color-light-grey;
		p{
			line-height: 42px;
		}
	}
}
.article--divide{
	border-top: 1px solid #CDCDCD;
	width: 100%;
	height: 0;
	margin: 96px 0 56px;
}
.content--header--h1{
	font-family: $type-stack-sans-serif;
	font-size: 72px;
	line-height: 72px;
	font-weight: 900;
}
.content--header--h3,
.footer--header--h3{
	font-family: $type-stack-sans-serif;
	font-size: 24px;
	line-height: 32px;
	text-transform: uppercase;
}
.content--header--h3:after{
	content: "";
	display: block;
	width: 50px;
	height: 6px;
	background: $color-mid-grey;
	margin: 40px 0 64px;
}