.article--wrapper{
	position: relative;
	display: block;
	width: 100%;
	max-width: 900px;
	padding: 96px 40px;
	margin: 0 auto;
	transition: transform .25s;
}
.article--content,
.article--footer{
	display: block;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	font-family: 'Libre Baskerville', Times, serif;
	p,
	a{
		font-size: 16px;
		line-height: 28px;
	}
	blockquote{
		margin: 24px 0;
		padding: 0 0 0 35px; 
		border-left: 5px solid $color-light-grey;
		p{
			line-height: 42px;
		}
	}
}
.article--divide{
	border-top: 1px dashed #CDCDCD;
	width: 100%;
	height: 0;
	margin: 96px 0 56px;
}
.meta--bread-crumb--link{
	text-transform: lowercase;
	text-decoration: none;
	font-weight: 400;
}
.content--header--h1{
	font-family: $type-stack-sans-serif;
	font-size: 72px;
	line-height: 72px;
	font-weight: 900;
}
.content--header--h3,
.footer--header--h3{
	font-family: $type-stack-sans-serif;
	font-size: 24px;
	line-height: 32px;
	font-weight: 400;
	text-transform: uppercase;
}
.content--header--h3:after{
	content: "";
	display: block;
	width: 50px;
	height: 6px;
	background: $color-mid-grey;
	margin: 40px 0 64px;
}
.article--next,
.article--prev{
	z-index: $index-1;
	position: fixed;
	top: 0px;
	bottom: 0px;
	min-width: 86px;
	background: none;
	transition: background .25s, transform .25s;
}
.article--next--active,
.article--prev--active{
	background: #EEE;
}
.article--next{
	right: 0px;
}
.article--prev{
	left: 0px;
}
.article--next--button,
.article--prev--button{
	position: absolute;
	height: auto;
	top: 50%;
	width: 100%;
	height: 200px;
	padding: 24px 0;
	transform: translateY(-50%);
	cursor: pointer;
	&:hover{
		.next--button--content{
			padding-right: 30px;
			#icon--article-next--stroke{
				stroke: #000;
			}
		}
		.prev--button--content{
			padding-left: 30px;
			#icon--article-prev--stroke{
				stroke: #000;
			}
		}
	}
}
.next--button--content,
.prev--button--content{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: paddding .25s, padding-left .25s, padding-right .25s;
}
.next--button--content{
	right: 0;
	padding: 0 60px 0 30px;
}
.prev--button--content{
	left: 0;
	padding: 0 30px 0 60px;
}