body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #222;
  @include font-size($type-standard);
}
a{
  cursor: pointer;
  color: #55acee;
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(85,172,238,0) 50%, rgba(85,172,238,0.6) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0px 20px;
  transition: color .25s ease-in-out;
  &:hover{
    color: lighten(#55acee, 10%);
  }
}
p{
  margin: 3rem 0;
  @include font-size($type-standard);
}
h1,
h2,
h3,
h4,
p{
  line-height: 2;
}
h1,h2{
  font-weight: 300;
  @include font-size($type-big);
  padding: 0;
  margin: 0;
}
h3{
  font-weight: 400;
  @include font-size($type-large);
}
h4{
  font-weight: 300;
  @include font-size($type-medium);
  padding: 0;
  margin: 0;
}
ul{
  list-style: none;
  margin: 0;
  padding: 4px 20px 0px 0px;
  display: inline-block;
  float: left;
}
li{
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}
#home-header{
  min-height:500px;
}
.content-block{
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 2;
}
.flex-content{
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;

  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content:center;
}
.block-item{
  padding: 8rem 2rem;
  -webkit-flex: 0 1 820px;
  -moz-flex: 0 1 820px;
  flex: 0 1 820px;
}
.block-item.text-left p{
  text-align: left;
}
.block-nav{
  padding: 0;
  -webkit-flex: 0 1 820px;
  -moz-flex: 0 1 820px;
  flex: 0 1 820px;
}
.block-item .header-item{
  padding: 0px 20px 50px 20px;
}
.block-item .sub-item{
  -webkit-flex: 0 1 240px;
  -moz-flex: 0 1 240px;
  flex: 0 1 240px;
  padding: 0px 50px 40px 50px;
  font-weight: 300;
  @include font-size($type-medium);
}
.footer-item{
  -webkit-flex: 0 1 780px;
  -moz-flex: 0 1 780px;
  flex: 0 1 780px;
  padding: 30px 20px 30px 20px;
  color: #55acee;
}
.center{
  text-align: center;
  vertical-align: middle;
}
.content-block.blue{
  background: #55acee;
  color: #fff;
}
.content-block.white{
  background: #fff;
  color: #222;
}
.content-block.black{
  background: #222;
  color: #fff;
}
.blue-text{
  color: #55acee;
}
.bowtie{
  margin-top: 50px;
}
.icon{
  display: block;
  width: 84px;
  height: 84px;
  background: url(../images/icons.svg) top left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px
}
.icon.ui{
  background-position: -2px;
}
.icon.mac{
  background-position: 168px;
}
.icon.pencil{
  background-position: 84px;
}
footer a:hover{
  color: #fff;
}
footer a{
  text-decoration: none;
  color: #55acee;
  line-height:1;
  margin: 0px 15px 0px 15px;
}

@media only screen and (min-width:600px){
  .block-item{
    padding: 20rem 2rem;
  }
  h1,
  h2{
    @include font-size($type-header-1);
  }
}