#header-content{
  position: relative;
}
.header--page-down{
  position: absolute;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  cursor: pointer;
  background: url("../images/icon-down.svg") center no-repeat;
  left: 50%;
  transform: translateX(-50%);
  &:hover{
    background-color: lighten(#55acee, 10%);
  }
}

@media screen and (min-width: 600px){
  .header--page-down{
    width: 64px;
    height: 64px;
  }
}