.post{
	width: 100%;
	max-width: 700px;
	padding: 24px 20px 0;
	margin: 0 auto;
}
.post h1 span{
	display: inline-block;
}
.post--header{
	width: 100%;
	max-width: 700px;
	margin: 32px auto 0;
	padding: 0 20px;
}
.post--date{
	color: #999;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	margin: 0;
}
.post--bread-crumb{
	text-transform: lowercase;
	font-weight: 300;
	i{
		margin: 0 5px;
	}
}
.post--bread-crumb--link{
	font-weight: 300;
	text-decoration: none;
}
.post--footer{
	width: 100%;
	max-width: 700px;
	margin: 56px auto 32px;
	padding: 32px 20px;
	border-top: 1px dashed $color-grey;
	h3{
		margin-bottom: 24px;
	}
}
.post--pagination{
	overflow: hidden;
	width: 100%;
	max-width: 700px;
	padding: 32px 20px 0;
	margin: 0 auto;
}
.post--link--prev,
.post--link--next{
	position: relative;
	display: inline-block;
	font-weight: 300;
	text-decoration: none;
	&:hover{
		background: none;
		text-decoration: underline;
	}
}
.post--link--next{
	float: right;
	i{
		margin-left: 10px;
	}
	span{
		display: none;
	}
}
.post--link--prev{
	float: left;
	i{
		margin-right: 10px;
	}
	span{
		display: none;
	}
}

@media screen and (min-width: 600px){
	.img--small--left{
		max-width: 300px;
		float: left;
		margin: 16px 32px 16px 0;
	}
	.img--small--right{
		max-width: 300px;
		float: right;
		margin: 16px 0 16px 32px;
	}
	.post--link--prev span,
	.post--link--next span{
		display: inline;
	}
}

@media screen and (min-width: 800px){
	.post{
		padding: 48px 20px 0;
	}
	.img--post--logo{
		margin: 96px auto 56px;;
	}
}