{% include home-header.html %}

		<div data-scroll-index="0" class="content-block white center flex-content">
			<div class="block-item">
			<h2>about <span class="blue-text">me</span></h2>
			<p>
			Hi all! the names Michael but everyone calls me Mike (even though mum doesn't like it).
			Ever since I could hold a pencil I've been drawing, and that's all long time considering
			I'm now 26. This love of the arts of course lead me towards design, though I have still
			maintained a health appreciate for Illustration.
			</p>
			<!--<a href="#" class="button">My CV</a>-->
			</div>
		</div>

		<div data-scroll-index="1" class="content-block black center flex-content">
			<div class="block-item flex-content">
				<div class="block-item header-item">
					<h2>what <span class="blue-text">I</span> do</h2>
				</div>
				<div class="block-item sub-item">
					<i class="icon ui"></i>
					Web UI/UX
				</div>
				<div class="block-item sub-item">
					<i class="icon mac"></i>
					Web Design
				</div>
				<div class="block-item sub-item">
					<i class="icon pencil"></i>
					Illustration
				</div>
				<!--<div class="block-item footer-item">
					<a href="#" class="button blue">View more</a>
				</div>-->
			</div>
		</div>

		<main data-scroll-index="2" class="content-block blue center flex-content">
			<div class="block-item">

			{{ content }}

			</div>
		</main>

		<div data-scroll-index="3" class="content-block white center flex-content">
			<div class="block-item flex-content">
				<h2>Drop <span class="blue-text">me</span> a line</h2>
				<form class="flex-content" action="http://getsimpleform.com/messages?form_api_token=442c456d8ea14e244bcb277cd4c3f6c8" method="post">
				<input class="sub-item" type="text" name="name" placeholder="Your name"/>
				<input class="sub-item" type="email" name="email" placeholder="Email address"/>
				<textarea class="sub-item" type="text" name="message" placeholder="Message for me :)"></textarea>
				<input class="button blue" type="submit" value="Send it"/>
				</form>
			</div>
		</div>

{% include footer.html %}
