{% include home-header.html %}

		<div class="content-block white center flex-content">
			<div class="block-item">
			<h2>about <span class="blue-text">me</span></h2>
			<p>
			Hi all! the names <span class="blue-text">Michael</span> but everyone calls me <span class="blue-text">Mike</span> (even though mum doesn't like it).
			Ever since <span class="blue-text">I</span> could hold a pencil <span class="blue-text">I've</span> been drawing, and that's all long time considering
			<span class="blue-text">I'm</span> now 26. This love of the arts of course lead <span class="blue-text">me</span> towards design, though <span class="blue-text">I</span> have still
			mantained a health appertiate for Illustration.
			</p>
			<!--<a href="#" class="button">My CV</a>-->
			</div>
		</div>

		<div class="content-block black center flex-content">
			<div class="block-item flex-content">
				<div class="block-item header-item">
					<h2>what <span class="blue-text">I</span> do</h2>
				</div>
				<div class="block-item sub-item">
					<i class="icon ui"></i>
					Web UI/UX
				</div>
				<div class="block-item sub-item">
					<i class="icon mac"></i>
					Web Design
				</div>
				<div class="block-item sub-item">
					<i class="icon pencil"></i>
					Illustration
				</div>
				<!--<div class="block-item footer-item">
					<a href="#" class="button blue">View more</a>
				</div>-->
			</div>
		</div>

		<main class="content-block blue center flex-content">
			<div class="block-item">

			{{ content }}

			</div>
		</main>

		<div class="content-block white center flex-content">
			<div class="block-item flex-content">
				<h2>Drop <span class="blue-text">us</span> a line</h2>
				<form class="flex-content" action="http://getsimpleform.com/messages?form_api_token=442c456d8ea14e244bcb277cd4c3f6c8" method="post">
				<input class="sub-item" type="text" name="name" placeholder="Your name"/>
				<input class="sub-item" type="email" name="email" placeholder="Email address"/>
				<textarea class="sub-item" placeholder="Message for me :)"></textarea>
				<input class="button blue" type="submit" value="Send it"/>
				</form>
			</div>
		</div>

{% include footer.html %}
